# IDE files
.idea/
.vscode/

# Build artifacts
build/
Builds/
*artefacts/
*.o
*.a
*.so
*.dylib
*.dll

# OS-specific
.DS_Store

# User-specific
*.user
*.suo

# Project-specific
*.vcxproj*
*.xcodeproj
*.xcworkspace